/* Default font, Inter */
@font-face {
  font-family: 'InstrumentSans';
  src: url('/public/Fonts/Arimo-VariableFont_wght.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
