/*global  css variables*/
:root {
    /*fonts*/
    --font-default: 'Inter';
    --font-accent: 'InstrumentSans';



    /*colors*/
    --color-text: #1f2937;
    --color-gray-text: #374151;
    --color-dark-blue: #1f5383;
    --color-light-blue: #5aafdf;
    --color-green-yellow: #9bbc72;


    /*for the app-header component*/
    --spacing-header-p : clamp(0.625rem,-0.417rem + 3.333vw,2.5rem);
    --width-header-logo-img : clamp(3.75rem,2.602rem + 5.741vw,7.625rem);
    --text-header-logo : clamp(1rem, 0.704rem + 1.481vw, 2rem);
    --text-header-links : clamp(0.875rem,0.528rem + 1.111vw,1.5rem);
    --width-header-links : clamp(13.75rem, 5.764rem + 25.556vw, 28.125rem);
    --width-header-hamburger : clamp(0.875rem,0.431rem + 2.222vw,1.125rem);
}

/*global properties*/
body {
    font-family: var(--font-default);
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}