/*global  css variables*/
:root {
    /*fonts*/
    --font-default: 'Arimo';



    /*colors*/
    --color-text: #1f2937;
    --color-gray-text: #374151;
    --color-dark-blue: #1f5383;
    --color-light-blue: #5aafdf;
    --color-green-yellow: #9bbc72;
    --color-background: #f8fafc;


    /*for the app-header component*/
    --spacing-header-p : clamp(0.625rem,-0.417rem + 3.333vw,2.5rem);
    --width-header-logo-img : clamp(3.75rem,2.602rem + 5.741vw,7.625rem);
    --text-header-logo : clamp(1rem, 0.704rem + 1.481vw, 2rem);
    --text-header-links : clamp(0.875rem,0.528rem + 1.111vw,1.5rem);
    /*the suffix -hamburger indicates that we're in the case where the screen in under 500px*/
    --text-header-hamburger-links : clamp(0.625rem, 0.181rem + 2.222vw, 0.875rem);
    --width-header-links : clamp(13.75rem, 5.764rem + 25.556vw, 28.125rem);
    --width-header-hamburger : clamp(0.875rem,0.431rem + 2.222vw,1.125rem);
    --width-header-hamburger-links : clamp(3.125rem, -0.208rem + 16.667vw, 5rem);
    --spacing-header-hamburger-pr : clamp(1.063rem,-0.382rem + 7.222vw,1.875rem);
    --spacing-header-hamburger-links-top : clamp(1.25rem,0.694rem + 2.778vw,1.563rem);



    /*for the app-about-me component*/
    --spacing-about-col-raw-pt : clamp(0.313rem,-0.625rem + 2.143vw,1.25rem);
    --spacing-about-col-raw-pb : clamp(2.5rem, 1.875rem + 1.429vw, 3.125rem);
    --text-about-col-raw-h1 : clamp(1.563rem, 0.875rem + 1.571vw, 2.25rem);
    --width-about-col-raw-content : clamp(40.625rem, 6.25rem + 78.571vw, 75rem);
    --text-about-col-raw-content : clamp(0.75rem, 0.5rem + 0.571vw, 1rem);
    --width-about-col-raw-content-paragraph : clamp(23.125rem, -0.125rem + 53.143vw, 46.375rem);
    --spacing-about-col-raw-content-paragraph-mb : clamp(0.188rem, -0.25rem + 1vw, 0.625rem);
    --width-about-col-raw-content-image : clamp(12.5rem, 11.125rem + 3.143vw, 13.875rem);
}

/*global properties*/
body {
    font-family: var(--font-default);
    line-height: 1.5;
    margin: 0px;
    padding: 0px;
}