/*general settings concerning the header as a whole*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: var(--spacing-header-p);
}








/*settings concerning the logo and the text on its right*/
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: var(--width-header-logo-img);
}

.logo div {
    font-family: var(--font-accent);
    color: var(--color-dark-blue);
    font-size: var(--text-header-logo);
}














/*settings concerning the nav link*/
.links {
    color: var(--color-light-blue);
    font-size: var(--text-header-links);
    width: var(--width-header-links);
    display: flex;
    justify-content: space-between;
}

.links a {
    color: var(--color-light-blue);
    text-decoration-line: none;
}





.chevron_down {
    /* Dimensions */
    width: var(--width-header-hamburger);
    height: var(--width-header-hamburger);

    /* Couleur souhaitée */
    background-color: var(--color-light-blue);

    /* Application du SVG comme masque */
    -webkit-mask-image: url('../../public/SVGs/chevron_down.svg');
    mask-image: url('../../public/SVGs/chevron_down.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}

.chevron_up {
    /* Dimensions */
    width: var(--width-header-hamburger);
    height: var(--width-header-hamburger);

    /* Couleur souhaitée */
    background-color: var(--color-light-blue);

    /* Application du SVG comme masque */
    -webkit-mask-image: url('../../public/SVGs/chevron_up.svg');
    mask-image: url('../../public/SVGs/chevron_up.svg');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
}






/*responsivness*/

@media (width < 500px) {
    .nav {
        position: relative;
        padding-right: var(--spacing-header-hamburger-pr);
    }
    .links {
        display: none;
        flex-direction: column;
        align-items: center;
        width: var(--width-header-hamburger-links);
        font-size: var(--text-header-hamburger-links);
        position: absolute;
        top: var(--spacing-header-hamburger-links-top);
        right: 0px;
    }
}

@media (width >= 500px) {
    .hamburger {
        display: none;
    }
}
