.mission {
    padding-block: 40px;
    background-color: var(--color-background);
}

.mission h1 {
    color: var(--color-green-yellow);
    text-align: center;
}

.mission div {
    font-size: var(--text-content);
    text-align: center;
}
