.vision {
    padding-block: 40px;
}

.vision h1 {
    color: var(--color-green-yellow);
    text-align: center;
    font-size: var(--text-h1);
}

.vision div {
    font-size: var(--text-content);
    text-align: center;
}
