footer{
    padding-block: 30px;
    padding-inline: clamp(1.25rem, 0.88rem + 1.852vw, 2.5rem);
    background-color: var(--color-background);
    font-size: var(--text-content);
}

footer h3 {
    color: var(--color-dark-blue);
}
