.about {
    background-color: var(--color-background);
    padding-block-start: var(--spacing-about-raw-pt);
    /* padding-block-start: 5px; */
    padding-block-end: var(--spacing-about-raw-pb);
    /* padding-block-end: 40px; */
}

.about h1 {
    text-align: center;
    color: var(--color-green-yellow);
    font-size: var(--text-about-raw-h1);
    /* font-size: 20px; */
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--width-about-raw-content);
    /* width: 450px; */
    margin-inline: auto;
    font-size: var(--text-about-raw-content);
    /* font-size: 12px; */
}

.content>div {
    width: var(--width-about-raw-content-paragraph);
    /* width: 230px; */
}

.intro span {
    font-family: var(--font-accent);
    color: var(--color-dark-blue);
}

.activities h2 {
    color: var(--color-dark-blue);
    font-weight: bold;
    font-size: var(--text-about-raw-content);
    /* font-size: 12px; */
}

.activities>div {
    margin-bottom: var(--spacing-about-raw-content-paragraph-mb);
    /* margin-bottom: 10px; */
}

.activities>div>span {
    color: var(--color-green-yellow);
}

.content img {
    width: var(--width-about-raw-content-image);
    /* width: 170px; */
    border-radius: 12px;
}

@media (width < 500px) {
    .content {
        flex-direction: column;
        width: 95%;
    }

    .content>div {
        width: 90%;
    }
    .content img {
        width: 270px;
        margin-top: 40px;
    }

}